* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8785A2;
}
#card{
    height: 300px;
    width: 300px;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 20px;
}
#card img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 0px;
    color: #C63D2F
}
#card h4{
    font-size: 15px;
    color: #503C3C;
    margin-bottom:10px;
}
#card button{
    background-color:#F4B183 ;
    padding: 9px 20px;
    color: #3C3633;
    font-weight: 700;
    padding: 12px,20px;
    border-radius: 5px;
    border: none;
    margin: 2px;
    cursor: pointer;
    margin-top: 10px;
}
